html,
body {
    margin: 0;
    padding: 0;
}


.head {
    display: flex;
    background-color: #1F2937;
    height: auto;
    width: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.links {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    display: flex;
    flex: auto;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    color: #f9faf8;
    font-weight: bolder;


}

.head-bot {
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 50px;
    background-color: #1F2937;
    color: #f9faf8;
    gap: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: min-content;
    gap: -10%;

}

.awe {
    font-weight: bold;

    display: flex;
    flex: auto;
    font-size: 40px;
    margin: -5px;
}

.bt {
    color: #f9faf8;
    background-color: #3882F6;
    border-radius: 25px;
    width: 40%;
    height: auto;
    border: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image {
    display: flex;
    flex: auto;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}

.info {
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.random {
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    flex: auto;
    justify-content: center;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.squares {
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-direction: row;
}

.con1,
.con2,
.con3,
.con4 {

    display: flex;
    flex: auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sq1,
.sq2,
.sq3,
.sq4 {
    display: flex;
    flex: auto;
    border-radius: 6px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 2px;
    height: 100px;
    width: 100px;



}

.p1,
.p2,
.p3,
.p4 {
    display: flex;
    flex: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #76787c;
}

.quote {
    display: flex;
    flex: auto;
    background-color: #E5E7EB;

    flex-direction: column;
    flex-shrink: 1;
}

.yap {
    display: flex;
    flex: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Thor {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


.call {
    padding: 60px;
    display: flex;
    flex: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.callbox {
    display: flex;
    flex: auto;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

.callText {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E5E7EB;
}

.callDiv {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.call1 {
    margin-bottom: 2px;
    font-weight: bolder;
}

.call2 {
    margin-top: 2px;
    font-weight: lighter;
}

.callBt {
    color: #f9faf8;
    background-color: #3882F6;
    border-radius: 10px;
    width: 50%;
    height: 40%;
    border: none;
    font-weight: bolder;
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 2px;
}

.quoteBox {
    padding: 40px;
}

.footer {
    display: flex;
    flex: auto;
    background-color: #1F2937;
    justify-content: center;
    color: #E5E7EB;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}